
.unLien2
{
	position:absolute;
	margin-left:450px;
	margin-top:-655px;
    opacity:0;
	color:white;
	font-size:150%;
	outline:none;
	text-shadow:0px 0px 7px #FFFFFF;  
}

.info4
{
	position:absolute;
	margin-left:450px;
	margin-top:-700px;
    z-index:1;
    opacity:0;
	font-size:150%;
	text-shadow: 0px 0px 9px #777;  
	
	-webkit-transform: translateZ(0);  
	transform: translate3D(0%,0,0);  
	-moz-transform: translate3D(0%,0,0);  
	-webkit-transform: translate3D(0%,0,0);  
	-webkit-transition: all 0.50s ease-in-out ;  
	-moz-transition: all 0.50s ease-in-out ;  
	transition: all 0.50s ease-in-out ;  
	-wbekit-transform: translateZ(0) ;
}

.infoChange2
{
	position:absolute;
	margin-left:450px;
	margin-top:-655px;
    z-index:2;
    color:white;
	font-size:150%;
	text-shadow:0px 0px 7px #FFFFFF;
	opacity:0.6;
	
	-webkit-transform: translateZ(0);  
	transform: translate3D(0%,0,0);  
	-moz-transform: translate3D(0%,0,0);  
	-webkit-transform: translate3D(0%,0,0);  
	-webkit-transition: all 0.50s ease-in-out ;  
	-moz-transition: all 0.50s ease-in-out ;  
	transition: all 0.50s ease-in-out ;  
	-wbekit-transform: translateZ(0) ;
}

.unLien2:hover 
{
	position:absolute;
	margin-left:450px;
	margin-top:-700px;
    opacity:0.6;
	font-size:150%;
	text-shadow:0px 0px 7px #FFFFFF;  
	
	
}